{{ define "main" }}

<div
  id="app"
  class="w-full h-screen overflow-y-scroll flex flex-col justify-start items-center bg-gradient-to-br from-stone-200 to-neutral-300 text-zinc-800"
>
  <header
    class="shrink-0 w-full h-1/4 flex flex-col justify-center items-center bg-gradient-to-br from-stone-700 to-neutral-800 text-white"
  >
    <h1 class="title truncate">
      <a href="{{$.Site.BaseURL}}">{{ .Site.Title }}</a>
    </h1>
  </header>
  <main class="container mx-auto my-8 p-4">
    <article
      class="min-h-[24rem] p-3 m-3 border rounded shadow border-zinc-800 prose mx-auto"
    >
      <h2 class="p-3 m-3 border-b border-zinc-800 text-2xl text-center">
        {{ .Title }}
      </h2>
      <div class="p-3 m-3">{{ .Content }}</div>

      <div class="p-3 m-3 border-t border-zinc-800 truncate">
        <div class="flex flex-wrap justify-end">
          <p class="m-2">タグ:</p>
          {{- range $termName := .Params.tags }}
          <p class="m-2">{{ $termName }}</p>
          {{- end }}
        </div>
        <p class="text-right m-2">{{ .Date.Format "2006-01-02" }}</p>
      </div>
    </article>
  </main>
  {{ partial "footer.html" . }}
</div>

{{ end }}
