{{define "main"}}
<div
  id="app"
  class="w-full h-screen overflow-y-scroll flex flex-col justify-start items-center bg-gradient-to-br from-stone-200 to-neutral-300 text-zinc-800"
>
  <header 
    class=" shrink-0	 w-full h-1/2 flex flex-col justify-center items-center bg-gradient-to-br from-stone-700 to-neutral-800 text-white"
    >
    <h1 class="title mb-4 text-4xl text-center">
      <a href="{{$.Site.BaseURL}}">
        {{ .Site.Title }}<br /><span class="text-xl">瞬記</span>
      </a>
    </h1>
    <label class="flex flex-row justify-center items-center">
      <input
        class="form-input rounded bg-gradient-to-br from-stone-200 to-neutral-300 text-zinc-800"
        type="search"
        v-model="q"
        @keyup.enter="searchWithQ"
      />
      <button @click="searchWithQ" class="ml-2">検索</button>
    </label>
  </header>
  <main class="container mx-auto my-8">
    <h2 class="p-3 border-b border-zinc-800 m-3 text-2xl"><span v-text="searchedQ"></span> 記事</h2>
    <div class="flex flex-wrap flex-row justify-center items-center">
      <a :href="post.permalink" v-for="post of posts">
        <article
          class="shadow w-72 h-48 p-2 m-2 border rounded border-zinc-800"
        >
          <h3
            class=" text-center text-xl border-b border-zinc-800 truncate"
            v-text="post.title"
          ></h3>
          <p class="text-sm p-2" v-text="((post.summary) + '...')"></p>

          <div class="flex truncate flex-wrap justify-end text-sm text-right text-zinc-500">
            <div
            class="flex flex-wrap justify-end"
          >
            <p class="m-1" v-for="tag of post.tags" v-text="tag"></p>
          </div>
          <p class="m-1"
            v-text="( new Date(post.date).toLocaleDateString() )"
          ></p>
          </div>
        </div>
        </article>
      </a>
    </div>
  </main>
  {{ partial "footer.html" . }}
</div>
<script>
  const fuseOptions = {
    // shouldSort: true,
    // includeMatches: true,
    tokenize: true,
    threshold: 0.5,
    location: 0,
    maxPatternLength: 32,
    minMatchCharLength: 1,
    matchAllTokens: true,
    findAllMatches: true,
    distance: 500,
    keys: [
      { name: "title", weight: 0.8 },
      { name: "contents", weight: 0.5 },
      { name: "tags", weight: 0.3 },
    ],
  };

  const app = new Vue({
    el: "#app",
    data: {
      fuse: null,
      posts: [],
      q: "",
      searchedQ: "",
      allPosts: [],
    },
    methods: {
      async searchWithQ() {
        this.searchedQ = this.q;
        console.log(this.q);
        if (this.q.length > 0) {
          const tmpPosts = this.searchF(this.q.split(" "));
          console.log(tmpPosts);
          this.posts.splice(0);
          for (post of tmpPosts) {
            this.posts.push(post.item);
          }
          console.log(this.posts);
        } else {
          this.posts.splice(0)
          this.posts = this.allPosts.concat()
          console.log("posts", this.posts, this.allPosts)
        }
      },
      searchF(words) {
        const retArr = [];
        for (word of words) {
          for (result of this.fuse.search(word)) {
            retArr.push(result);
          }
        }

        retArr.sort((a, b) => {
          return (
            new Date(b.item.date).getTime() - new Date(a.item.date).getTime()
          );
        });

        return retArr;
      },
    },
    mounted: async function () {
      this.allPosts = (await axios.get("/index.json")).data;

      this.posts = this.allPosts.concat();
      this.fuse = new Fuse((await axios.get("/index.json")).data, fuseOptions);
    },
  });
</script>

{{ end }}
